<%- include('partials/header'); -%>
  <link rel="stylesheet" href="css/weather.css">
</head>
<body>

<div class="container">
  <form action="/" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="search" placeholder="Search city">
      </div>
    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button>
  </div>
  </form>
<%- include('partials/footer'); -%>
